body {
    font-family:Arial, Helvetica, sans-serif;
}

.titre {
    background-color:#9575CD;
    height:50px;
}

.titre p {
     font-size:30px;
    text-align:center;
}


.imageTaille {
    width:500px;
    height:300px;

}

.defaut {
    width: auto;
    background-color: #ECEFF1;
    height: 470px;
    font-size: 20px;
}

.tab {
    
    font-size:11px;
}